<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="form__row">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form__row">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div clas="form__row">
    <%= f.submit class: "button" %>
  </div>
<% end %>
