<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <p class="error">
      <%= pluralize(@post.errors.count, "error") %> prevented this post from saving.
    </p>
    <ul>
      <%= @post.errors.full_messages .each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form__row">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form__row">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="form__row">
    <%= f.submit class: "button" %>
  </div>
<% end %>
