<div class="row">
  <div class="large-8 column">
    <div class="post__wrapper feature-post">
      <% if @first_post.photo.present? %>
        <%= image_tag @first_post.photo.url, class: "feature-post__image" %>
      <% end %>
      <div class="feature-post__post-bg">
        <h2 class="feature-post__title"><%= link_to @first_post.title, @first_post %></h2>
        <small class="date">
          <%= @first_post.created_at.strftime("%B %d, %Y") %>
          <% if @first_post.username.present? %>
            by <%= @first_post.username %>
          <% end %>
          </small>
        <p>
          <%= truncate(strip_tags(@first_post.body).html_safe, length: 100) %>
        </p>
        <%= link_to "Read Article", @first_post %>
      </div>
    </div>
    <% @posts.in_groups_of(2, false).each do |posts| %>
      <% if posts.size == 2 %>
        <div class="row">
          <div class="large-6 columns">
            <div class="post__wrapper secondary-post">
              <% if posts.first.photo.present? %>
                <%= link_to image_tag(posts.first.photo.url), posts.first, class: "secondary-post__image-wrapper" %>
              <% end %>
              <h2 class="secondary-post__title"><%= link_to truncate(posts.first.title, length: 45), posts.first %></h2>
              <small class="date">
                <%= posts.first.created_at.strftime("%B %d, %Y") %>
                <% if posts.first.username.present? %>
                  by <%= posts.first.username %>
                <% end %>
                </small>
              <p>
                <%= truncate(strip_tags(posts.first.body).html_safe, length: 100) %>
              </p>
              <%= link_to "Read Article", posts.first %>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="post__wrapper secondary-post">
              <% if posts.last.photo.present? %>
                <%= link_to image_tag(posts.last.photo.url), posts.last, class: "secondary-post__image-wrapper" %>
              <% end %>
              <h2 class="secondary-post__title"><%= link_to truncate(posts.last.title, length: 45), posts.last %></h2>
              <small class="date">
                <%= posts.last.created_at.strftime("%B %d, %Y") %>
                <% if posts.last.username.present? %>
                  by <%= posts.last.username %>
                <% end %>
                </small>
              <p>
                <%= truncate(strip_tags(posts.last.body).html_safe, length: 100) %>
              </p>
              <%= link_to "Read Article", posts.last %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="large-6 columns end">
            <div class="post__wrapper secondary-post">
              <% if posts.first.photo.present? %>
                <%= link_to image_tag(posts.first.photo.url), @post, class: "secondary-post__image-wrapper" %>
              <% end %>
              <h2 class="secondary-post__title"><%= link_to truncate(posts.first.title, length: 45), @post %></h2>
              <small class="date">
                <%= posts.first.created_at.strftime("%B %d, %Y") %>
                <% if posts.first.username.present? %>
                  by <%= posts.first.username %>
                <% end %>
                </small>
              <p>
                <%= truncate(strip_tags(posts.first.body).html_safe, length: 100) %>
              </p>
              <%= link_to "Read Article", @post %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= paginate @posts %>
  </div>
  <div class="large-4 column">
    <div class="divider show-for-small-only">
    </div>
    <h2>Favourite Posts</h2>
    <% @all_posts.each do |post| %>
      <% if post.popular_post %>
        <strong><%= link_to post.title, post %></strong>
        <small class="date"><%= post.created_at.strftime("%B %d, %Y") %></small>
      <% end %>
    <% end %>
    <div class="divider show-for-medium">
    </div>
  </div>
</div>
