<!DOCTYPE html>
<html>
<head>
  <title>AmaBlog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="page-header">
    <div class="row">
      <div class="large-6 columns">
        <h1 class="logo"><%= link_to "AMA D&D", root_path %></h1>
        <p class="sub-heading">Design and Development at the Alberta Motor Association</p>
      </div>
      <div class="large-6 columns">
        <div class="nav-buttons">
          <button class="button"><%= link_to "All Posts", root_path %></button>
          <% if user_signed_in? %>
            <button class="button"><%= link_to "New Post", new_post_path %></button>
            <button class="button">Log Out</button>
          <% end %>
        </div>
      </div>
      <!-- <ul>
        <li><%= link_to "Blog", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
      <% if user_signed_in? %>
        <p>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </p>
      <% else %>
        <p>
        <%= link_to('Login', new_user_session_path)  %>
      </p>
      <% end %>
    -->
    </div>
  </header>
  <main class="main-content">
    <div class="row column">
      <% if current_page?(root_path) %>
        <!-- <h1>All Posts</h1> -->
      <% elsif current_page?(about_path) %>
        <h1>About</h1>
      <% end %>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert") %>
      <% end %>

      <%= yield %>
    </div>
  </main>

</body>
</html>
