<!DOCTYPE html>
<html>
<head>
  <title>AMA D&D</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.typekit.net/sad6sqb.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,700" rel="stylesheet"></head>
<body>
  <div class="top-horz">
  </div>
  <div class="left-vert">
  </div>
  <header class="page-header">
    <div class="row">
      <div class="nav">
        <% if user_signed_in? %>
          <div class="large-6 columns">
            <span class="nav__link"><%= current_user.username %></span>
            <%= link_to "New Post", new_post_path, class: "nav__link" %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav__link") %>
          </div>
          <div class="large-6 columns text-right">
            <%= link_to "Blog", root_path, class: "nav__link" %>
            <%= link_to "About", about_path, class: "nav__link" %>
            <%= link_to "Contact", contact_path, class: "nav__link" %>
          </div>
        <% else %>
          <div class="column text-right">
            <%= link_to "Blog", root_path, class: "nav__link" %>
            <%= link_to "About", about_path, class: "nav__link" %>
            <%= link_to "Contact", contact_path, class: "nav__link" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="logo__container">
      <%= link_to image_tag("d-and-d-logo.png", class: "logo__image"), root_path %>
    </div>
      <!-- <div class="row columns">
        <div class="nav-buttons">
          <button class="button"><%= link_to "All Posts", root_path %></button>
          <% if user_signed_in? %>
            <button class="button"><%= link_to "New Post", new_post_path %></button>
            <button class="button">Log Out</button>
          <% end %>
        </div>
      </div>
    -->

  <% #link_to('Login', new_user_session_path)  %>
  </header>
  <main class="main-content">
    <div class="row column">
      <div class="divider">
      </div>
    </div>
    <% if current_page?(root_path) %>
      <!-- <h1>All Posts</h1> -->
    <% elsif current_page?(about_path) %>
      <!-- <h1>About</h1> -->
    <% end %>
    <% flash.each do |name, msg| %>
      <div class="row column">
        <%= content_tag(:div, msg, class: "alert text-center") %>
      <div>
    <% end %>
    <%= yield %>
    </div>
  </main>
  <div class="right-vert">
  </div>
  <div class="bottom-horz">
  </div>
</body>
</html>
